header {
    background-color: #49243E;
    color: white; 
} 
.cabecalho-imagem{
    width:20%;
}
.cabecalho {
    background-color: #49243E ;
    color:with;
    display: flex;
    justify-content: spece-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width;20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:o 16 px;
    fomt: size 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px;
}
.escola imagem{
    width: 25%;
}

.escola{
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:24px0;
}

escola-div-conteudo{
    width: 35%;
}
.escola.titulo{
    padding:24px0;
}






